.card {
    position: relative;
  display: grid;
  height: 310px;
  width: 300px;
  background-color: #ff6060;
  box-shadow: inset 0px -60px 50px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 0 20px 30px 20px;
  align-items: flex-end;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}

.card_title {
  position: relative;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 150%;
  color: #ffffff;
}

.card_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
