.accordeon {
  display: flex;
  flex-direction: column;
  width: 582px;
}

.accordeon_fluid {
  width: 100%;
}

.accordeon_btn {
  display: flex;
  background-color: #ff6060;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  color: white;
  padding: 0 20px 0 12px;
  z-index: 1;

  @media (min-width: 768px) {
    border-radius: 10px;
    height: 52px;
  }
}

.arrow {
  // padding-right: 20px;
  transition: all 240ms ease-in-out;
  transform-origin: center;

  @media (max-width:768px) {
    width:20px ;
    height: 20px;
  }
}

.arrow_open {
  transform: rotate(180deg);
}

.accordeon_text {
  // padding-left: 12px;
  font-size: 13px;
  font-weight: 700;

  @media (min-width: 768px) {
    font-size: 18px;
  }
}

.accordeon_fall {
  display: grid;
  width: calc(100% + 32px);
  background-color: rgb(240, 240, 240);
  border-radius: 0 0 5px 5px;
  grid-template-rows: 0fr;
  transition: all 240ms ease-in-out;
  overflow: hidden;
  transform: translateY(-5px);
}

.accordeon_fall_open {
  grid-template-rows: 1fr;
}

.accordeon_fall_container {
  display: flex;
  height: 0;
  padding: 0;
  flex-direction: column;
  gap: 8px;
  visibility: hidden;
  transition: all 240ms ease-in-out;
}

.accordeon_fall_container_open {
  visibility: visible;
  padding: 12px 0 12px 0;
  height: fit-content;

  @media (min-width: 768px) {
    padding: 28px 0 28px 0;
  }
}

.accordeon_paragrath {
  margin: 0 12px 0 12px;
  font-size: 12px;

  @media (min-width: 768px) {
    margin: 0 24px 0 24px;
    font-size: 18px;
  }
}
